body{

    background-color:#262626; 
    padding-top: 50px; 

}
.icon-bar {
    background-color: #F26513;
  }

.navbar-custom {
    background-color:#262626;
    background: #262626;
    border-color: #F26513;
    border-radius:1;
}

#navbar a:hover { 

    color: #F26513;
    background-color:transparent;

}

.navbar-brand,
.navbar-nav li a {
    line-height: 30px;
    height: 60px;
    padding-top: 15px;
}

li > a {
    font-family: PortoSans-Regular;
    font-size: 150%;
    color:white;

}

h1{
    font-family: PortoSans-Regular;
    font-size: 300%;
    color:#F26513;
}
h2{
    font-family: PortoSans-Regular;
    font-size: 180%;
    color:#F26513;
}
h3{
    font-family: PortoSans-Regular;
    font-size: 180%;
    color:#F26513;
    text-align: center;
}
p{
    font-family: PortoSans-Light;
    font-size: 120%;
    color:white;
    text-align: justify;
    text-justify: inter-word
}
#links{
    font-family: PortoSans-Light;
    font-size: 120%;
    color:#F26513;
    text-decoration: none;
}
#div1 {
    padding-top: 10px;
    text-align:center;
}

p1{
    font-family: PortoSans-Light;
    font-size: 110%;
    color:white;
}
.modal-content{
    background-color: #262626;
}
.modal-footer{
    align-items: center;
    justify-content: center;
}

footer {
    height: 45px;
    background: #262626 ;
    border-top:solid #F26513;
}
.col-md-2, .fa-facebook-official, .fa-linkedin-square, .fa-instagram, .fa-github, .fa-envelope-o{
    color:white;
}
.col-md-2, .fa-facebook-official:hover, .fa-linkedin-square:hover, .fa-instagram:hover, .fa-github:hover, .fa-envelope-o:hover{
    color:#F26513;
}
.btn{
    background-color: transparent;
     
}
.btn:hover{
    background-color: #F26513; 
}


/* Tipografia */

@font-face {
    font-family: PortoSans-Regular;
    src: url(fonts/PortoSans-Regular.otf);
}

@font-face {
    font-family: PortoSans-Light;
    src: url(fonts/PortoSans-Light.otf);
}

.table > tbody > tr > td {
    vertical-align: middle;
}
tr > td >p {
    text-align: center;
}
tr > th > p {
    text-align: center;
    color: #F26513;
}
table{
width: 100%
}
thead{
    border-bottom: 1px solid #F26513;
}




#map-canvas {
    height: 100%;
    width: 100%;
    /* text-align: center; */
    margin: 0px;
    padding: 0px
}
